<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Si el archivo o directorio no existe, redirige a public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]

    # Si aún no existe en public, redirige a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^public/(.*)$ public/index.php [L]
</IfModule>

# Establece index.php como el archivo de índice predeterminado
DirectoryIndex index.php